@model List<Data.FE.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="/Style/Admin/js/Controller/OrderDetailController.js"></script>

}
@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
    <div class="row qc__search">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <input type="text" class="form-control search-slt" value="@ViewBag.ChuoiTimKiem" placeholder="nhập cần tìm kiếm..." name="searchString">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                        <option>Select Vehicle</option>
                        <option>Example one</option>
                        <option>Example one</option>
                        <option>Example one</option>
                        <option>Example one</option>
                        <option>Example one</option>
                        <option>Example one</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <input type="submit" class="btn btn-danger wrn-btn" value="Search" />
                </div>
            </div>
        </div>
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">chi tiết</th>
            <th>Nhận hàng</th>
            <th>Hủy đơn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.Status == false && x.trahang == false))
        {
            <tr data-id="tr_@item.ID">
                <th scope="row">@item.ID</th>
                <td>@item.ShipName</td>
                <td>@item.CreatedDate</td>
                <td><a href="#" class="btn-images" data-id="@item.ID">Chi tiết</a></td>
                <td><input type="checkbox" class="check ch" data-id="@item.ID" checked="@(item.Status)" /> </td>
                <td>
                    <input type="checkbox" class=" check trahang" data-id="@item.ID" checked="@(item.trahang)" />
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.TotalPage > 1)
{
    var pageDisplay = (int)(ViewBag.MaxPage);
    int totalPage = (int)ViewBag.TotalPage;
    int currentPage = ((int)ViewBag.Page);
    //Create number links
    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

    var link = "/Admin/Order";
    <ul class="pagination">
        @if (currentPage > ViewBag.First)
        {
            <li class="page-item"> <a class="page-link" href="@link?page=@ViewBag.First">&laquo;</a> </li>
            <li class="page-item"> <a class="page-link" href="@link?page=@ViewBag.Prev">&lsaquo;</a> </li>
        }
        @for (int i = startPageIndex; i <= endPageIndex; i++)
        {
            if (currentPage == i)
            {
                <li class="page-item"><a class="page-link" href="@link?page=@i" title="Trang @i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@link?page=@i" title="Trang @i">@i</a></li>
            }

        }
        @if (currentPage < totalPage)
        {
            <li class="page-item"> <a class="page-link" href="@link?page=@ViewBag.@ViewBag.Next">&rsaquo;</a> </li>
            <li class="page-item"> <a class="page-link" href="@link?page=@ViewBag.Last">&raquo;</a> </li>
        }
    </ul>
}

<!-- The Modal -->
<div class="modal" id="imagesManange">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết giỏ hàng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody class="c">
                        @*@foreach (var item in order)
                            {
                                <tr id="">
                                    <td>@item.ProductID</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                </tr>
                            }*@

                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

